.btn {
  line-height: normal;
  padding: 7px 17px;
  font-weight: 400;
  font-size: 1rem;
  float: none;
  margin-top: 0;
  white-space: nowrap;
  border: none;
  font-family: "NetflixSansRegular";

  &.color-red {
    background-color: red;
    color: white;
  }
}
